<html>
<body>
<h1>Publicação</h1>

<table border="1">
	<tr><th>Id. padrão</th><td>{{object.id_padrao}}</td></tr>
	<tr><th>Título</th><td>{{object.titulo}}</td></tr>
	<tr><th>Num. páginas</th><td>{{object.num_paginas}}</td></tr>
	<tr><th>Editora</th><td>{{object.editora}}</td></tr>
	<!--FIXME: mostra créditos-->
</table>	

<p>
<a href="{% url lista_pubs %}">listagem de publicações</a>
</p>

</body>
</html>