<html>
<body>
<h1>Lista de Publicaçoes</h1>

<h2>Tipo: {{tipo}}</h2>

<table border="1">
	<tr><th>Id. padrão</th><th>Título</th></tr>
	{% for pub in object_list %}
		<tr>
			<td>{{pub.id_padrao}}</td>
			<td><a href="{% url detalhe_pub pub.id %}">{{pub.titulo}}</a></td>
		</tr>
	{% endfor %}
</table>	

</body>
</html>